   <!-- shop page main wrapper start -->
   <div class="main-wrapper pt-35">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-12">
                    <div class="product-shop-main-wrapper mb-50">
                       
                        <div class="shop-product-wrap list row">
                            {{#each order}}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                              
                                <div class="sinrato-list-item mb-30">
                                    <div class="sinrato-thumb">
                                        <a href="product-details.html">
                                   
                                            <img src="/product-images/{{this.product.product._id}}first.jpg" class="pri-img" alt="">
                                            <img src="/product-images/{{this.product.product._id}}second.jpg" class="sec-img" alt="">
                                        </a>
                                       
                                    </div>
                                    <div class="sinrato-list-item-content">
                                        <div class="manufacture-product">
                                                   
                              
                                            
                                        
                                        </div>
                                        <div class="sinrato-product-name">
                                            <h4><a href="product-details.html">{{this.product.product.product}}</a></h4>
                                        </div>
                            
                                        <div class="sinrato-product-des">
                                            <p> We ensure our best service of our delviery team, we follow every covid 19 protocol and ensure yours safety</p>
                                         Shipping Status:<span class="regular-price"><span class="special-price">
                                             
                                             {{#if this.product.product.cancelled}}
                                                   <span style="color: rgb(250, 0, 0);">This order have been cancelled</span>
                                                   {{else}}     
                                             {{#if this.product.product.ship}} 
                                             <span style="color: green;">{{this.product.product.ship}}</span>
                                              {{else}} Pending{{/if}}{{/if}}
                                              </span></span>
                                        </div>
                                    </div>
                                    <div class="sinrato-box-action">
                                        <div class="price-box">
                                            <span class="regular-price"><span class="special-price">R.s {{this.product.totalPrice}}</span></span>
                                           
                                            {{!-- <span class="old-price"><del>£60.00</del></span> --}}
                                        </div>
                                        {{!-- <button class="btn-cart" type="button">Cancel Order</button> --}}
                                        <div class="action-links sinrat-list-icon">
                                            {{!-- <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                            <a href="#" title="Quick view" data-target="#quickk_view" data-toggle="modal"><i class="lnr lnr-magnifier"></i></a> --}}
                                        </div>
                                    </div>
                                </div> <!-- end single list item -->
                            </div>
                         {{/each}}
                        </div>
                       
                    </div>
               </div>
           </div>
       </div>
   </div>
