<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.hasthemes.com/sinrato-preview/sinrato/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Jan 2021 10:39:17 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Page Title -->
    <title>E-shop</title>
    <!--Fevicon-->
    <link rel="icon" href="/assets/img/icon/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- linear-icon -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/linear-icon.css">
    <!-- all css plugins css -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- default style -->
    <link rel="stylesheet" href="/assets/css/default.css">
    <!-- Main Style css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- header area start -->
    <header class="header-pos">
        <div class="header-top black-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="header-top-left">
                            <ul>
                                <li><span>Email: </span>support@Eshop.com</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="box box-right">
                            <ul>
                                {{#if user}}
                                <li class="setting mr-5">
                                    <a class="ha-toggle" href="#">Get my referral code<span
                                            class="lnr lnr-chevron-down"></span></a>
                                    <ul style="width: 300px; padding: 10px" class="box-dropdown ha-dropdown">
                                        <li>Copy your refferal link</li>
                                        <li>
                                            <div style="width: 100px;">
                                                <input type="text" id="copy" value="{{rLink}}/Signup/{{user._id}}"
                                                    readonly>
                                                <button class="btn-warning" onclick="myCopy()">Copy text</button>
                                            </div>
                                            </a>
                                        </li>
                                        <script>
                                            let link = window.location.hostname
                                            console.log(link)
                                        </script>


                                    </ul>
                                </li>
                                {{/if}}
                                {{#if user}}
                                <li class="settings">
                                    <a class="ha-toggle" href="#">{{user.fname}}<span
                                            class="lnr lnr-chevron-down"></span></a>
                                    <ul class="box-dropdown ha-dropdown">


                                        <li><a href="/logout">logout</a></li>
                                    </ul>
                                </li>
                                {{else}}

                                <li class="settings">
                                    <a class="ha-toggle" href="#">My Account<span
                                            class="lnr lnr-chevron-down"></span></a>
                                    <ul class="box-dropdown ha-dropdown">
                                        <li><a href="/signup">Sign up</a></li>
                                        <li><a href="/login">Login</a></li>


                                    </ul>
                                </li>

                                {{/if}}


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- copy --}}
        <script>
            function myCopy() {
                var copyText = document.getElementById("copy");
                copyText.select();
                copyText.setSelectionRange(0, 99999)
                document.execCommand("copy");
                alert("Copied the text: " + copyText.value);
            }
        </script>
        {{!-- copy --}}
        <div class="header-middle home-header2 theme-bg">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="logo">
                            <a href="/"><img src="/images/Copy of E-commerce online shop - Made with PosterMyWall.jpg"
                                    alt="brand-logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-12  order-sm-last">
                        <div class="header-middle-inner">
                            <form action="https://demo.hasthemes.com/sinrato-preview/sinrato/method">
                                {{!-- <div class="top-cat hm1">
                                    <div class="    ch-form">
                                        <select>
                                            <optgroup label="Electronics">
                                                <option value="volvo">Laptop</option>
                                                <option value="saab">watch</option>
                                                <option value="saab">air cooler</option>
                                                <option value="saab">audio</option>
                                                <option value="saab">speakers</option>
                                                <option value="saab">amplifires</option>
                                            </optgroup>
                                            <optgroup label="Fashion">
                                                <option value="mercedes">Womens tops</option>
                                                <option value="audi">Jeans</option>
                                                <option value="audi">Shirt</option>
                                                <option value="audi">Pant</option>
                                                <option value="audi">Watch</option>
                                                <option value="audi">Handbag</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div> --}}
                                <input type="text" class="top-cat-field" onkeyup="myFunction()" id="myFilter"
                                    placeholder="Search entire store">
                                <input type="button" class="top-search-btn" value="Search">

                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-12 col-sm-8 order-lg-last">
                        <div class="mini-cart-option">
                            <ul>
                                {{!-- <li class="compare">
                                    <a class="ha-toggle" href="compare.html"><span class="lnr lnr-sync"></span>Product
                                        compare</a>

                                </li>
                                <li class="wishlist">
                                    <a class="ha-toggle" href="wishlist.html"><span class="lnr lnr-heart"></span><span
                                            class="count">1</span>wishlist</a>

                                </li> --}}
                                <li class="my-cart">
                                    <a class="ha-toggle" href="/cart"><span class="lnr lnr-cart"></span><span
                                            id="cartCount" class="count">{{count}}</span>my cart </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <span id="mine">{{alertcart}}</span>
        <script>
            function cart() {

                let func = document.getElementById("mine").innerHTML
                console.log(func)
                console.log("kikikikikiiki")
                if (func) {
                    console.log("kikikikikiiki")
                    window.location.href = '/cart';
                } else {
                    alert('Your cart is empty')
                    window.location.href = '/cart';
                }


            }
        </script> --}}
        <div class="header-top-menu menu-style2 mb-40 sticker">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-main-menu ">
                            <div class="main-menu ">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="/">HOME</a>
                                            {{!-- <ul class="dropdown">
                                                <li><a href="index.html">Home Version 1</a></li>
                                                <li><a href="index-2.html">Home Version 2</a></li>
                                                <li><a href="index-3.html">Home Version 3</a></li>
                                                <li><a href="index-4.html">Home Version 4</a></li>
                                            </ul> --}}
                                        </li>
                                        <li><a href="/order">My orders</span></a>
                                            {{!-- <ul class="dropdown">
                                                <li><a href="#">Shop Grid Layout <span
                                                            class="lnr lnr-chevron-right"></span></a>
                                                    <ul class="dropdown">
                                                        <li><a href="shop-grid-left-sidebar.html">Shop grid left
                                                                sidebar</a></li>
                                                        <li><a href="shop-grid-right-sidebar.html">Shop grid right
                                                                sightbar</a></li>
                                                        <li><a href="shop-grid-left-sidebar-4-column.html">shop grid
                                                                left sidebar 4 col</a></li>
                                                        <li><a href="shop-grid-right-sidebar-4-column.html">shop grid
                                                                right sidebar 4 col</a></li>
                                                        <li><a href="shop-grid-full-width-3-column.html">shop grid full
                                                                width 3 col</a></li>
                                                        <li><a href="shop-grid-full-width-4-column.html">shop grid full
                                                                width 4 col</a></li>
                                                    </ul> --}}
                                                </li>
                                                <li><a href="/profile">My profile<span class="lnr "></span></a>
                                                    {{!-- <ul class="dropdown">
                                                        <li><a href="shop-list-left-sidebar.html">Shop lidt left
                                                                sidebar</a></li>
                                                        <li><a href="shop-list-right-sidebar.html">Shop list right
                                                                sidebar</a></li>
                                                        <li><a href="shop-list-full-width.html">Shop list full width</a>
                                                        </li>
                                                    </ul> --}}
                                                </li>
                                                <li><a href="/coupon">My coupon</span></a>

                                                </li>
                                                {{#if catOn}}
                                                <li><a href="#">Category<span class="lnr lnr-chevron-down"></span></a>
                                                    <ul class="dropdown">
                                                        {{#each category}}
                                                        <li style="margin:15px;cursor: pointer;"
                                                            onclick="filterCategory('{{this.category}}')">
                                                            {{this.category}}</li>
                                                        {{/each}}
                                                        {{/if}}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <script>
                                            function filterCategory(category) {
                                                var input, filter, cards, cardContainer, h5, title, i;
                                                input = category
                                                filter = input.toUpperCase();
                                                cardContainer = document.getElementById("myItems");
                                                cards = cardContainer.getElementsByClassName("product-item");
                                                myman = document.getElementsByClassName("myman")
                                                console.log("input" + input)
                                                console.log("filter" + filter)
                                                console.log("cardContainer" + cardContainer)
                                                console.log("cards" + cards)

                                                for (i = 0; i < cards.length; i++) {
                                                    title = cards[i].querySelector(".product-name h4.nameOfCategory");
                                                    console.log("title" + title)
                                                    if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                                                        myman[i].style.display = "";
                                                    } else {
                                                        myman[i].style.display = "none";
                                                    }
                                                }

                                            }
                                        </script>
                                        {{!-- <li class="static"><a href="#">Pages<span
                                                    class="lnr lnr-chevron-down"></span></a>
                                            <ul class="mega-menu mega-full">
                                                <li class="mega-title"><a href="#">Column one</a>
                                                    <ul>
                                                        <li><a href="shop-grid-left-sidebar.html">Shop grid left
                                                                sidebar</a></li>
                                                        <li><a href="shop-grid-right-sidebar.html">Shop grid right
                                                                sightbar</a></li>
                                                        <li><a href="shop-grid-full-width-4-column.html">Shop grid full
                                                                width</a></li>
                                                        <li><a href="shop-list-full-width.html">Shop list full width</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title"><a href="#">Column two</a>
                                                    <ul>
                                                        <li><a href="checkout.html">Check Out</a></li>
                                                        <li><a href="cart.html">Cart</a></li>


                                                    </ul>
                                                </li>
                                                <li class="mega-title"><a href="#">Column Three</a>
                                                    <ul>
                                                        <li><a href="product-details.html">Product Details</a></li>
                                                        <li><a href="product-details-variable.html">Product Details
                                                                Variable</a></li>
                                                        <li><a href="product-details-external.html">Product Details
                                                                External</a></li>
                                                        <li><a href="product-details-group.html">Product Details
                                                                Group</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-title"><a href="#">Column Four</a>
                                                    <ul>
                                                        <li><a href="login.html">login</a></li>
                                                        <li><a href="register.html">register2</a></li>
                                                        <li><a href="my-account.html">my account</a></li>
                                                        <li><a href="contact-us.html">contact us</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">BLOG<span class="lnr lnr-chevron-down"></span></a>
                                            <ul class="dropdown">
                                                <li><a href="blog-left-sidebar-3.html">Blog Left Sidebar 3 col</a></li>
                                                <li><a href="blog-left-sidebar-4.html">Blog left Sidebar 4 col</a></li>
                                                <li><a href="blog-right-sidebar-3.html">Blog Right Sidebar 3 col</a>
                                                </li>
                                                <li><a href="blog-right-sidebar-4.html">Blog Right Sidebar 4 col</a>
                                                </li>
                                                <li><a href="blog-full-3-column.html">Blog full width 3 col</a></li>
                                                <li><a href="blog-full-4-column.html">Blog full width 4 col</a></li>
                                                <li><a href="blog-full-5-column.html">Blog full width 5 col</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                                <li><a href="blog-details-audio.html">Blog Details audio</a></li>
                                                <li><a href="blog-details-gallery.html">Blog Details gallery</a></li>
                                                <li><a href="blog-details-video.html">Blog Details video</a></li>
                                                <li><a href="blog-details-right-sidebar.html">Blog Details right
                                                        sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">CONTACT US</a></li> --}}
                                    </ul>
                                </nav>
                            </div> <!-- </div> end main menu -->
                            <div class="header-call-action">
                                <p><strong>E-shop</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/ajax-mail.js"></script>
    <script src="/assets/js/main.js"></script>
</body>